{% extends "base.html" %}

{% block page-title %}{{ project.name }}{% endblock %}
{% block nav %}{% endblock %}

{% block main %}
  <div class="modal">
    <div class="modal-overlay"></div>
    <div class="modal-container">
      <header class="modal-header">
        <h4>Password required</h4>
      </header>
      <form class="pure-form pure-form-stacked" method="post" accept-charset="utf-8" method="POST" action=".">
        <div class="modal-body">
          <fieldset>
            <label style="margin-top: 0;">Password:</label>
            <input type="password" name="password" value="" />
          </fieldset>
        </div>
        <div class="modal-footer group">
          <div class="pure-controls">
            <button type="submit" class="pure-button pure-button-green right">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
