*.log
*.pot
*.pyc
*.db
*.class
*.class
*.jar
.nrepl-port
.lein-repl-history

analytics/components
publet/static/components
publet/static/uploads
publet/static/css/outputs/generated
publet/static/js/publet.min.js
publet/static/js/track.new.min.js
publet/static/js/track.bundle.js
publet/static/js/templates.js
publet/renders
static-root
settings_local.py
tags
tags.bak
.sass-cache
.vagrant
.DS_Store
.current-commit
db-dumps
s3cfg
celerybeat-schedule

nohup.out

dump.rdb
*.dat
node_modules
*.crx
analytics.js
*.crt
*.gz
*.zip
*.djcache

bot/target
bot/checkouts
bot/pom.xml
bot/pom.xml.asc
bot/.lein-*
bot/.nrepl-port
bot/.hgignore
bot/.hg/
bot/.lein-repl-history

purger/target
purger/checkouts
purger/pom.xml
purger/pom.xml.asc
purger/.lein-*
purger/.nrepl-port
purger/.hgignore
purger/.hg/
purger/.lein-repl-history

track/target
track/checkouts
track/pom.xml
track/pom.xml.asc
track/.lein-*
track/.nrepl-port
track/.hgignore
track/.hg/
track/.lein-repl-history

graphs/target
graphs/checkouts
graphs/pom.xml
graphs/pom.xml.asc
graphs/.lein-*
graphs/.nrepl-port
graphs/.hgignore
graphs/.hg/
graphs/.lein-repl-history

presence/main
presence/presence_linux_amd64

.browserify-cache.json
.psci
purescript-track/output
purescript-track/dist
purescript-track/bower_components
.webpack.js
