body { background-color: #ebebeb; font-family: Helvetica, sans-serif; font-size: 16px; }

a { color: #42B8DD; text-decoration: none; }
a:hover { color: #3492AF; }

div.alert { background: #F2DEDE; border: 1px solid #EED3D7; color: #B94A48; margin-bottom: 20px; padding: 10px; -webkit-background-clip: padding-box; -webkit-border-radius: 5px; -moz-background-clip: padding-box; -moz-border-radius: 5px; border-radius: 5px; background-clip: padding-box; }

.pure-form { margin-bottom: 30px; }
.pure-form fieldset legend { margin-bottom: 20px; }
.pure-form fieldset div.error { background: #F2DEDE; border: 1px solid #EED3D7; color: #B94A48; margin-bottom: 20px; padding: 10px; -webkit-background-clip: padding-box; -webkit-border-radius: 5px; -moz-background-clip: padding-box; -moz-border-radius: 5px; border-radius: 5px; background-clip: padding-box; }
.pure-form fieldset div.error label { color: #B94A48; }
.pure-form fieldset div.error input { border-color: #B94A48; }

.pure-button-green, .pure-button-red, .pure-button-orange, .pure-button-blue { /*These should be renamed semantically once the uses are determined*/ color: white; border-radius: 4px; text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); }

.pure-button-green { background: #1cb841; }

.pure-button-red { background: #ca3c3c; }

.pure-button-orange { background: #df7514; }

.pure-button-blue { background: #42b8dd; }

.pure-button-xsmall { font-size: 70%; padding: 1px 4px; vertical-align: 1px; }

h1 button, h2 button, h3 button, h4 button, h5 button, h6 button { margin-top: -7px; }

.chzn-container { width: auto !important; }

.left { float: left; }

.right { float: right; }

.group:after { content: ""; display: table; clear: both; }

#top-bar { padding: 5px 15px; }

#sidebar, #main { box-sizing: border-box; padding-top: 30px; padding-right: 15px; padding-left: 15px; padding-bottom: 30px; }

#main { padding-right: 0; padding-bottom: 0; }

body.page div.stage-inner { padding: 20px; }
body.page div.stage-inner header button.right { margin-top: 10px; }

div.stage-inner header button.right { margin-top: 15px; }

#top-bar { background: #000; }
#top-bar h1 { font-size: 18px; margin: 0 30px 0 0; padding: 10px 0; }
#top-bar h1 a { color: #fff; text-decoration: none; }
#top-bar ul { padding-top: 5px; }
#top-bar ul li { font-size: 12px; text-transform: uppercase; }

#sidebar h3 { color: #aaa; font-size: 12px; font-weight: normal; margin-top: 30px; text-align: center; text-transform: uppercase; }
#sidebar .logo { background: url(../img/logo.png) center top no-repeat; background-size: 100%; max-width: 100px; margin: 0 auto; min-height: 125px; width: 90%; }
#sidebar .master-pages { left: 15px; margin: 0; overflow: scroll; padding: 0; position: fixed; top: 260px; width: 220px; }
#sidebar .master-pages li { list-style-type: none; margin: 3px 0; text-align: center; }
#sidebar .master-pages li a { background: #fff; border: 1px solid #ddd; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; color: #222; display: block; font-size: 12px; padding: 7px; text-decoration: none; text-transform: uppercase; }

#main h3 { display: inline-block; font-size: 28px; margin-top: 15px; margin-bottom: 20px; }

div.canvas-container header { text-align: center; }
div.canvas-container header.output-buttons { font-size: 12px; font-weight: bold; padding: 20px; -webkit-border-top-left-radius: 12px; -webkit-border-top-right-radius: 0; -webkit-border-bottom-right-radius: 0; -webkit-border-bottom-left-radius: 0; -moz-border-radius-topleft: 12px; -moz-border-radius-topright: 0; -moz-border-radius-bottomright: 0; -moz-border-radius-bottomleft: 0; border-top-left-radius: 12px; border-top-right-radius: 0; border-bottom-right-radius: 0; border-bottom-left-radius: 0; background: #6a6a6a; background: -webkit-gradient(linear, left top, left bottom, from(#777777), to(#5d5d5d)); background: -moz-linear-gradient(center top, #777777 0%, #5d5d5d 100%); background: -moz-gradient(center top, #777777 0%, #5d5d5d 100%); }
div.canvas-container div.subheader { margin-bottom: 20px; }
div.canvas-container div.subheader h2 { background: #F5F5F5; color: #505050; margin: 0; padding: 20px; }
div.canvas-container div.subheader a { float: right; font-size: 16px; font-weight: bold; margin: 24px 20px 0 0; }
div.canvas-container div.save-bar { border-bottom: 1px solid #F5F5F5; color: #505050; font: normal 11px/14px "Helvetica Neue", Helvetica, Arial, "Liberation Sans", FreeSans, sans-serif; padding: 8px 20px; }

#article div.stage div.block { font: 15px/26px "Open Sans", "Helvetica Neue", Helvetica, Arial, "Liberation Sans", FreeSans, sans-serif; min-height: 26px; padding: 20px 0; position: relative; }
#article div.stage div.block img { margin-top: 10px; }
#article div.stage div.block button.delete { margin: 0 0 0 10px; }
#article div.stage div.block a.upload { clear: both; }
#article div.stage div.block > div h1:before, #article div.stage div.block > div h2:before, #article div.stage div.block > div div.image-container:before, #article div.stage div.block > div div.editable:before, #article div.stage div.block > div article.editable:before, #article div.stage div.block > div blockquote:before, #article div.stage div.block > div div.video-block:before, #article div.stage div.block > div div.colors-block:before, #article div.stage div.block > div div.cover-block:before, #article div.stage div.block > div pre:before, #article div.stage div.block > div div.fonts-block:before { border-right: 2px solid #F5F5F5; color: #ADADAD; display: block; font: bold 12px "Open Sans", "Helvetica Neue", Helvetica, Arial, "Liberation Sans", FreeSans, sans-serif; left: -120px; padding-right: 9px; position: absolute; text-align: right; top: 5px; width: 100px; }
#article div.stage div.block.editing > div h1:before, #article div.stage div.block.editing > div h2:before, #article div.stage div.block.editing > div div.image-container:before, #article div.stage div.block.editing > div div.editable:before, #article div.stage div.block.editing > div article.editable:before, #article div.stage div.block.editing > div blockquote:before, #article div.stage div.block.editing > div div.video-block:before, #article div.stage div.block.editing > div div.colors-block:before, #article div.stage div.block.editing > div div.cover-block:before, #article div.stage div.block.editing > div pre:before, #article div.stage div.block.editing > div div.fonts-block:before { color: #42B8DD; }
#article div.stage div.block div.inner { margin: 0 auto; position: relative; width: 75%; }
#article div.stage div.block div.inner div.controls { display: none; position: absolute; top: 0; right: -100px; width: 100px; }
#article div.stage div.block div.inner div.controls button, #article div.stage div.block div.inner div.controls a { background-color: transparent; background-position: center center; background-repeat: no-repeat; background-size: 100% 100% cover; border: 0; display: inline-block; margin: 0 8px; height: 26px; width: 26px; }
#article div.stage div.block div.inner div.controls button.delete { background-image: url("../img/delete.png"); }
#article div.stage div.block div.inner div.controls a.reorder { background-image: url("../img/reorder.png"); margin-left: 20px; }
#article div.stage div.block div.inner div.controls div.photo-controls { width: 195px; display: inline-block; height: 26px; }
#article div.stage div.block div.inner div.controls div.photo-controls ul { list-style: none; margin: 0; padding: 0; }
#article div.stage div.block div.inner div.text-controls { width: 290px; margin-top: -50px; }
#article div.stage div.block div.inner div.text-controls table { font-size: 12px; width: 100px; display: block; float: left; }
#article div.stage div.block div.inner div.text-controls a.text-button { width: auto; }
#article div.stage div.block div.inner div.wide { width: 300px; }
#article div.stage div.block div.fonts-block { position: relative; }
#article div.stage div.block div.fonts-block:before { content: "FONTS"; }
#article div.stage div.block div.code-block pre { margin: 0; min-height: 26px; position: relative; }
#article div.stage div.block div.code-block pre:before { content: "CODE"; top: 5px; }
#article div.stage div.block div.colors-block { position: relative; }
#article div.stage div.block div.colors-block:before { content: "COLORS"; top: 5px; }
#article div.stage div.block div.cover-block { position: relative; }
#article div.stage div.block div.cover-block:before { content: "COVER"; top: 5px; }
#article div.stage div.block div.heading-block h1 { font: bold 34px "Montserrat", "Helvetica Neue", Helvetica, Arial, "Liberation Sans", FreeSans, sans-serif; margin: 0; min-height: 42px; position: relative; }
#article div.stage div.block div.heading-block h1:before { content: "HEAD"; top: 13px; }
#article div.stage div.block div.heading-block h2 { color: #767676; font: bold 22px "Montserrat", "Helvetica Neue", Helvetica, Arial, "Liberation Sans", FreeSans, sans-serif; margin: 0; min-height: 27px; position: relative; }
#article div.stage div.block div.heading-block h2:before { content: "SUBHEAD"; }
#article div.stage div.block div.imageasset-block div.image-container { position: relative; }
#article div.stage div.block div.imageasset-block div.image-container img { margin: 0; }
#article div.stage div.block div.imageasset-block div.image-container:before { content: "IMAGE ASSET"; top: 0px; }
#article div.stage div.block div.photo-block div.image-container { position: relative; }
#article div.stage div.block div.photo-block div.image-container img { margin: 0; }
#article div.stage div.block div.photo-block div.image-container:before { content: "PHOTO"; top: 0px; }
#article div.stage div.block div.pullquote-block blockquote { font-style: italic; margin: 0; min-height: 26px; position: relative; }
#article div.stage div.block div.pullquote-block blockquote:before { content: "PULLQUOTE"; top: 5px; }
#article div.stage div.block div.text-block { min-height: 100px; }
#article div.stage div.block div.text-block article.editable { min-height: 26px; position: relative; margin-top: 50px; width: 500px; }
#article div.stage div.block div.text-block article.editable:before { content: "TEXT"; top: 5px; }
#article div.stage div.block div.video-block { position: relative; }
#article div.stage div.block div.video-block:before { content: "VIDEO"; top: 5px; }
#article div.stage div.block div.video-block div.video { height: 220px; margin-top: 10px; width: 340px; }
#article div.stage div.block:hover { background: #F5F5F5; }
#article div.stage div.block:hover *:before { border-color: #EBEBEB !important; }
#article div.stage div.block:hover div.inner div.controls { display: block; }
#article div.stage div.block.ui-sortable-placeholder { background: #FFF; border: 1px dashed #CCCCCC; border-left: 0; border-right: 0; visibility: visible !important; }

#publication div.stage ul { padding: 0; }
#publication div.stage ul li.article { font: 15px/26px "Open Sans", "Helvetica Neue", Helvetica, Arial, "Liberation Sans", FreeSans, sans-serif; list-style-type: none; margin: 0; min-height: 26px; padding: 20px; position: relative; }
#publication div.stage ul li.article a:hover { text-decoration: underline; }
#publication div.stage ul li.article div.controls { display: none; position: absolute; top: 17px; right: 20px; width: 100px; }
#publication div.stage ul li.article div.controls button, #publication div.stage ul li.article div.controls a { background-color: transparent; background-position: center center; background-repeat: no-repeat; background-size: 100% 100% cover; border: 0; display: inline-block; margin: 0 8px; height: 26px; width: 26px; }
#publication div.stage ul li.article div.controls button.delete { background-image: url("../img/delete.png"); }
#publication div.stage ul li.article div.controls a.reorder { background-image: url("../img/reorder.png"); margin-left: 20px; }
#publication div.stage ul li.article div.controls div.photo-controls { width: 248px; }
#publication div.stage ul li.article:hover { background: #F5F5F5; }
#publication div.stage ul li.article:hover div.controls { display: block; }

.box { padding: 20px; }

.tools { margin-bottom: 15px; padding-right: 15px; }
.tools .pure-menu { display: inline-block; }
.tools .pure-menu li a { background: url(../img/tools_icons.png) left top no-repeat; padding-top: 40px; padding-right: 15px; padding-left: 15px; }
.tools .pure-menu.pure-menu-horizontal { background: transparent; width: inherit; }
.tools .pure-menu.pure-menu-horizontal ul { height: inherit; }
.tools .pure-menu-heading { font-size: 12px; }
.tools .pure-menu.preview { border-right: 2px dotted #333; border-left: 2px dotted #333; }
.tools .pure-menu.preview li a { box-sizing: border-box; width: 60px; }
.tools .pure-menu.preview .preview-tablet { background-position: 15px 50%; }
.tools .pure-menu.preview .preview-desktop { background-position: -70px 50%; }
.tools .pure-menu.preview .preview-smartphone { background-position: -160px 50%; }
.tools .pure-menu.aesthetics li a { text-align: center; }
.tools .pure-menu.aesthetics .tool-assets { background-position: -220px 0; border-right: 2px dotted #333; margin-right: 5px; padding-right: 20px; }
.tools .pure-menu.aesthetics .tool-fonts { background-position: -295px 0; }
.tools .pure-menu.aesthetics .tool-colors { background-position: -355px 0; }
.tools .pure-menu.aesthetics .tool-textures { background-position: -433px 0; }
.tools .pure-menu.aesthetics .tool-publish { background-position: -510px 0; border-left: 2px dotted #333; margin-left: 5px; padding-left: 20px; }
.tools li, .tools p { font-size: 10px; text-transform: uppercase; }

.modal div.modal-overlay { background: rgba(0, 0, 0, 0.75); left: 0; height: 100%; position: fixed; top: 0; width: 100%; z-index: 99; }
.modal div.modal-container { background: white; left: 50%; margin-left: -300px; position: fixed; top: 83px; z-index: 100; width: 600px; height: 600px; overflow: scroll; -webkit-background-clip: padding-box; -webkit-border-radius: 10px; -moz-background-clip: padding-box; -moz-border-radius: 10px; border-radius: 10px; background-clip: padding-box; }
.modal div.modal-container header { background: #EBEBEB; border-bottom: 1px solid #DDD; padding: 20px; -webkit-border-top-left-radius: 10px; -webkit-border-top-right-radius: 10px; -webkit-border-bottom-right-radius: 0; -webkit-border-bottom-left-radius: 0; -moz-border-radius-topleft: 10px; -moz-border-radius-topright: 10px; -moz-border-radius-bottomright: 0; -moz-border-radius-bottomleft: 0; border-top-left-radius: 10px; border-top-right-radius: 10px; border-bottom-right-radius: 0; border-bottom-left-radius: 0; }
.modal div.modal-container header > * { margin: 0; }
.modal div.modal-container form { margin: 0; }
.modal div.modal-container div.modal-body { padding: 20px; }
.modal div.modal-container div.modal-body label { color: black; font-weight: bold; margin-bottom: 8px; margin-top: 15px; }
.modal div.modal-container div.modal-body input { width: 100%; }
.modal div.modal-container div.modal-body p.help-text { border-left: 2px solid #CCC; color: #999999; font: normal 14px/18px Helvetica; margin-bottom: 30px; padding-left: 20px; }
.modal div.modal-container div.modal-footer { background: #F8F8F8; border-top: 1px solid #DDD; padding: 20px; -webkit-border-top-left-radius: 0; -webkit-border-top-right-radius: 0; -webkit-border-bottom-right-radius: 10px; -webkit-border-bottom-left-radius: 10px; -moz-border-radius-topleft: 0; -moz-border-radius-topright: 0; -moz-border-radius-bottomright: 10px; -moz-border-radius-bottomleft: 10px; border-top-left-radius: 0; border-top-right-radius: 0; border-bottom-right-radius: 10px; border-bottom-left-radius: 10px; }
.modal div.modal-container div.modal-footer button.right { margin: 0 10px; }
.modal div.modal-container div.modal-footer button.right:first-of-type { margin-right: 0; }
.modal.edit-block input, .modal.edit-block textarea { width: 100%; }
.modal.edit-block textarea { height: 200px; }
.modal.edit-block img { max-width: 100%; }

.stage { background: #fff; -webkit-border-top-left-radius: 12px; -webkit-border-top-right-radius: 0; -webkit-border-bottom-right-radius: 0; -webkit-border-bottom-left-radius: 0; -moz-border-radius-topleft: 12px; -moz-border-radius-topright: 0; -moz-border-radius-bottomright: 0; -moz-border-radius-bottomleft: 0; border-top-left-radius: 12px; border-top-right-radius: 0; border-bottom-right-radius: 0; border-bottom-left-radius: 0; }
.stage .stage-inner { padding: 0 20px 20px 20px; }

[ng\:cloak], [ng-cloak], .ng-cloak { display: none; }

.hide-text { text-indent: 100%; white-space: nowrap; overflow: hidden; }

.hidden { display: none; }

[contenteditable="true"]:active, [contenteditable="true"]:focus { border: none; outline: none; }
