{% extends "base.html" %}

{% block content %}
<div>
  <header>
    <h3><a href="/groups/">Groups</a> &raquo;</h3>
    <h3 class="subheader">{{ group.name }}</h3>

    <div class="flash-message">
      {% if messages %}
        {% for message in messages %}
          <p>{{ message }}</p>
        {% endfor %}
      {% endif %}
    </div>

    <a href="{% url 'group-members' group.slug %}">back to group members</a>
  </header>
  <div class="row">
    <h1>Change permissions for '{{ member.user.username }}'</h1>

    <p>Current permission: {{ member.get_role_display }}.</p>

    <form method="post" action=".">
      {% csrf_token %}

      <p>
        Select a new role
        <select name="role">
          <option value="O">Owner</option>
          <option value="E">Editor</option>
          <option value="C">Contributor</option>
          <option value="R">Reviewer</option>
        </select>
      </p>

      <p>
        <button type="submit" class="pure-button pure-button-primary">
          Change
        </button>
      </p>

    </form>

  </div>
</div>
{% endblock %}
