<style type="text/css" media="screen">
  #canned-demo-overlay {
    display: none;
    width: 500px;
    background: #22C4FC;
    position: absolute;
    z-index: 100;
    padding: 10px;
  }

  #canned-demo-overlay h1 {
    font-size: 22px;
  }
</style>

<div id="canned-demo-overlay">
  <h1>You appear to be writing a headline.  We've analyzed this below for you.</h1>

  <h1>Performance</h1>

  <p>

    Your vocabulary use is <strong>strong</strong> and seems to aim for a
    direct sale to an <strong>SMB</strong> audience.  A different sentence
    structure may perform better.  Our suggestions are below.

  </p>

  <h1>Suggested edits</h1>

  <ul>
    <li>
      Your headline is a bit too long.  Try shortening it to 8-10 words.
    </li>
  </ul>

  <h1>Related content</h1>

  <h1>Other</h1>

  <p>

    Need more help?  Submit this headline to Scripted to help craft a better
    one.

  </p>
</div>
