<div audio-block class="audio-block editor-content-block">
  <div ng-show="active">
    <div class="block-attribute block-icon icon-audio-block"><i></i></div>
    <div class="block-attribute">
      <select ui-select2 data-placeholder="No template" ng-model="block.flavor">
        <option value=""></option>
        <option ng-repeat="flavor in theme.flavors | filter:{type: 'audio'}" value="[[ flavor.resource_uri ]]">[[ flavor.name ]]</option>
      </select>
    </div>
    <div ng-show="block.flavor" class="block-attribute block-flavor-label"></div>
  </div>

  <div class="block-preview-field" style="[[ style() ]]">
    <div class="audio"></div>
  </div>

  <!--   load editor controls -->
  <div ng-if="active" ng-include="static + 'js/partials/audio-controls.html'"></div>
  <div ng-include="static + 'js/partials/block-controls.html'"></div>

</div>
