body {
  margin-top: 0 !important;
}

* {
  box-sizing: border-box;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 9999;
  top: 0;
  left: 0;
  padding-bottom: 1em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 100%;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  background-color: #fff;
}

.logo {
  background: #fff;
  position: relative;
  z-index: 902;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 70%;
      -ms-flex: 1 0 70%;
          flex: 1 0 70%;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}
.logo img {
  padding: .5em;
  width: 75%;
  margin: 0 auto;
}
@media all and (min-width: 30em) {
  .logo {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 25%;
        -ms-flex: 1 1 25%;
            flex: 1 1 25%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-bottom: none;
  }
  .logo img {
    padding: .5em 0em 0em 1em;
  }
}

.navigation-mobile {
  background-color: #fff;
  position: relative;
  z-index: 902;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media all and (min-width: 30em) {
  .navigation-mobile {
    display: none;
    visibility: hidden;
  }
}

.navigation-mobile a {
  font-family: "Brandon Grotesque Bold", sans-serif;
  font-weight:bold;
  text-transform: uppercase;
  font-size: 0.875em;
  border-left: 1px solid #eee;
  border-bottom: 1px solid #eee;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
  padding: 1em;
  font-size: 1em;
  z-index: 991;
  width: 100%;
  color: #111;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease-in-out, color: .3s ease-in-out;
          transition: background-color 0.3s ease-in-out, color: .3s ease-in-out;
}
.navigation-mobile a:before {
  content: " ";
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 2em;
      -ms-flex: 0 0 2em;
          flex: 0 0 2em;
  height: 1.5em;
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/22318/icon_MobileMenu_black_2.svg") no-repeat 0 0;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.navigation-mobile a:hover, .navigation-mobile a:active, .navigation-mobile a:focus {
  background-color: #eee;
  color: rgb(255, 47, 141);
}

.navigation-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 100%;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
}
@media all and (min-width: 30em) {
  .navigation-container {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 75%;
        -ms-flex: 1 1 75%;
            flex: 1 1 75%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.navigation {
  background: whitesmoke;
  margin:0;
  padding-left:0;
  display: block;
  position: absolute;
  z-index: 900;
  width: 100%;
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
          transition: transform 0.4s ease-in-out;
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
}
@media all and (min-width: 30em) {
  .navigation {
    backgroundL #fff;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.navigation.navigation-open {
  border-bottom: 4px solid #ff2f8d;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}
@media all and (min-width: 30em) {
  .navigation.navigation-open {
    border-bottom: none;
  }
}

.navigation-item {
  display: block;
  width: 100%;
}
@media all and (min-width: 30em) {
  .navigation-item {
    border-bottom: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    width: auto;
  }
}

.navigation-item a {
  font-family: "Brandon Grotesque Bold", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.875em;
  display: block;
  width: 100%;
  padding: 1em 1em;
  text-align: center;
  color: #222;
  text-decoration: none;
  -webkit-transition: color: .3s ease-in-out;
          transition: color: .3s ease-in-out;
}
.navigation-item a:hover {
  color: rgb(255, 47, 141);
}
