{% extends "registration/registration_base.html" %}

{% block page-title %}Reset password - {{ block.super }}{% endblock %}

{% block body-class %}{{ block.super }}{% endblock %}

{% block content %}
<div class="stage-inner">
    <form method="post" action="." class="pure-form pure-form-aligned">
        {% if form.errors %}
            {% if form.non_field_errors %}
                <div class="alert-box round alert">
                    {{ form.non_field_errors }}
                </div>
            {% else %}
                <div class="alert-box round alert">
                    Please fix the errors below.
                </div>
            {% endif %}
        {% endif %}
        <fieldset>
            <legend><h3>Reset password</h3></legend>
            <div class="pure-control-group">
                <div class="{% if form.email.errors %}error{% endif %}">
                    <label for="id_email">Email</label>
                    {{ form.email }}
                </div>
            </div>
            <div class="pure-controls">
                <button class="pure-button button" type="submit">Reset password</button>
                <a class="button-secondary" href="/login/" style="margin-left: 10px">Log in</a>
                <a class="button-secondary" href="/signup/" style="margin-left: 10px">Sign up</a>
            </div>
        </fieldset>
        {% csrf_token %}
    </form>
</div>
{% endblock %}
