{% extends "registration/registration_base.html" %}

{% block page-title %}Change password - {{ block.super }}{% endblock %}

{% block body-class %}{{ block.super }}{% endblock %}

{% block content %}
 <div class="stage-inner">
    <form method="post" action="." class="pure-form pure-form-aligned">
        {% if form.errors %}
            {% if form.non_field_errors %}
                <div class="alert-box round alert">
                    {{ form.non_field_errors }}
                </div>
            {% else %}
                <div class="alert-box round alert">
                    Please fix the errors below.
                </div>
            {% endif %}
        {% endif %}
        <fieldset>
            <legend><h3>Change password</h3></legend>
            <div class="pure-control-group">
                <div class="{% if form.old_password.errors %}error{% endif %}">
                    <label for="id_old_password">Current password</label>
                    {{ form.old_password }}
                </div>
            </div>
            <div class="pure-control-group">
                <div class="{% if form.new_password1.errors %}error{% endif %}">
                    <label for="id_new_password1">New password</label>
                    {{ form.new_password1 }}
                </div>
            </div>
            <div class="pure-control-group">
                <div class="{% if form.new_password2.errors %}error{% endif %}">
                    <label for="id_new_password2">Confirm new password</label>
                    {{ form.new_password2 }}
                </div>
            </div>
            <div class="pure-controls">
                <button class="pure-button button" type="submit">Change password</button>
            </div>
        </fieldset>
        {% csrf_token %}
    </form>
{% endblock %}
